*{
    padding:0;
    margin:0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}




header{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: aliceblue;


}

header > div{
    width: 60%;
    text-align: center;
    position: relative;

}

header h1{
    font-size: 40px;
    padding-bottom: 20px;


    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}

header h3{
    font-size: 25px;
    font-weight: 500;

    font-family: sans-serif;
}


header button{
    width: 500px;
    padding: 10px 0 ;
    border: none;
    border-radius: 10px;
    background-color: yellow;
    font-size: 25px;
    margin-top: 60px;
    cursor: pointer;
}



.film{
    width: 100%;
    height: 100%;
    position:absolute;

    object-fit: cover;

    filter: brightness(0.2);

}

@media (max-width:900px) {
    header button{
        width: 100%;
    }
}

@media (max-width:500px) {
    
    header > div{
        width: 90%;
       
    }
}

.sobre{
    width: 100%;
    max-height: 90vh;
    background-color: #1E1E1E;
    color: aliceblue;
    padding: 150px 0;
    gap: 50px;
    display: flex ;
    justify-content: center;
    align-items: center;

}

.sobre img{
    border-radius: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;

    width: 350px;
}

.sobre > div{
    width: 40%;
    gap: 10px;
}


.sobre h1{
    font-size: 30px;
}

.sobre h2{
    font-size: 50px;
}


.bar{
    width: 30%;
    height: 4px;
    border-radius: 10px;

    background-color: yellow;
}

@media (max-width:1000px) {
    .sobre{
        flex-direction: column;
        padding: 200px 0;
    }

    .sobre > div{
        width: 80%;
       
        
    }

    .sobre h1{
        font-size: 40px;
        text-align: center;
    }

  

     .bar{
        width: 50%;
        display: block;
        margin: 0 auto;
        margin-bottom: 60px;

    }


}


@media (max-width:450px) {
    
    .sobre h2{
        font-size: 35px;
        width: 100%;
        text-align: center;

    }

    .sobre h1{
        font-size: 25px;

    }

    .sobre > div{
        margin: 0;
    }

    .sobre img{
        width: 90%;
    }
}



.servi{
    background-color: yellow;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 50px 0;

    

}


.servi > h1{
    font-size: 30px;

    margin-top: 50px;

}

.servi > h2{
font-size: 35px;
margin-top: 10px;
margin-bottom: 60px;
}

.ser-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    gap: 30px;


}

.ser-box > div{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: left;
}

.ser-box h1{
font-size: 35px;
}

.ser-box h2{
    font-size: 27px;
    font-weight: 500;
}

.ser-box img{
    aspect-ratio: 1/1;
    width: 150px;
}

@media (max-width:900px) {
    
    .servi{
        gap: 40px;
    }

    .ser-box > div{
        width: 80%;
    }
}


@media (max-width:700px) {
    .ser-box{
        flex-direction: column;
        text-align: center    ;

        justify-content: center;
        align-items: center;
    }

    .ser-box > div{
        align-items: center;
        gap: 10px;
        width: 95%;
    }
    .ser-box div h1{
        text-align: center;
    }
    .ser-box div h2{
        text-align: center ;
    }
    

    
}

.depoimentos{
    width: 100%;
    background-color: #1E1E1E;
    color: aliceblue;
    padding: 50px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.depoimentos > h1{
    text-align: center;
    font-size: 28px;

}

.box-cliente{

    margin: 60px 0;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;

}

.box-cliente > div{
    display: flex;
    align-items: start;
    text-align: left;
    flex-direction: column;
    width: 40%;

    gap: 20px;
}


.box-cliente img{
    width: 150px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 100%;



}

.box-cliente > div h1{
    font-size: 40px;
}


.box-cliente > div p{
    font-size: 20px;
    font-weight: 400;
}


@media (max-width:900px) {
    .box-cliente > div{
        width: 60%;
    }
}


@media (max-width:600px) {
    
.box-cliente{
    flex-direction: column;
    text-align: center ;
    align-items: center;

   
}

.box-cliente > div h1 , .box-cliente > div p{
    text-align: center ;
}

.box-cliente > div{
    width: 100%;
    align-items: center;
}

}

footer{
    background-color: #1E1E1E;
    color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    padding: 150px 0;
    
}

footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;

    flex-wrap: wrap;
    width: 90%;

    margin: 0 auto;
   
}

footer ul a{
    color: aliceblue;
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
}

footer ul a:hover {
text-decoration: underline;
}

footer button{
    width: 300px;
    background-color: transparent;
    border: none;
    

}

footer button a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;

}

footer button a:hover{
text-decoration: underline;
}

footer nav{
    display: flex;
    flex-wrap: wrap;

}

footer nav img{
    aspect-ratio: 1/1;
    width: 70px;
}

footer nav a{
margin: 0 10px;

}

